name: CD
on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
jobs:
  deploy:
    if: github.repository == 'tksds74/discord-at-bot'
    runs-on: self-hosted
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Create .env file
        run: echo "DISCORD_BOT_TOKEN=${{ secrets.DISCORD_BOT_TOKEN }}" > .env
      - name: Deploy
        run: |
          docker compose down
          docker compose build --no-cache
          docker compose up -d
      - name: Show logs
        run: docker compose logs --tail=50
